/*-----------------TAG SELECTOR -------------------*/

body {
  margin-top: 50px;
  background-color: hsl(217, 54%, 11%);
  font-family: 'Outfit', sans-serif;
}

hr {
  background-color: hsl(215, 32%, 27%);
  color: hsl(215, 32%, 27%);
  border: none;
  height: 1px;
}

h1 {
  color: #FFF;
  font-weight: 600;
  font-size: 1.5em;
}

h1:hover {
  color: hsl(178, 100%, 50%);
}

p {
  color: hsl(215, 51%, 70%);
}

a:visited {
  text-decoration: none;
}


/*--------------------------- CLASS SELECTOR ------------*/
.card {
  background-color: hsl(216, 50%, 16%);
  margin: 0 auto 0 auto;
  width: 22%;
  min-width: 300px;
  text-align: center;
  border-radius: 10px;
  padding: 15px;
}

@media (max-width:600px) {
  .card {
    width: 80%;
    max-width: 300px;
    min-width: auto;
  }

}

.card-main-text {
  text-align: left;
  padding: 0 3%;
}


.container-main-img {
  position: relative;
  border-radius: 15px;
  width: 95%;
  margin: 10px auto 0 auto;
  background-color: hsl(178, 100%, 50%);
}


.details-line {
  display: flex;
  justify-content: space-between;
}



/* Main Image and Container Part */

.img-main {
  position: relative;
  z-index: 3;
  opacity: 1;
  display: block;
  width: 100%;
  border-radius: 10px;
}

.img-main:hover {

  opacity: 0.4;
}


.img-main-middle {
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 40%;
}

.img-main-middle:hover {

}




/* Text and Description Part */

.title-text a{
  text-decoration: none;
  color: #FFF;
}


.title-text a:hover {
  color: hsl(178, 100%, 50%);
}


.description-text {
  line-height: 1.5;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 300;
}

.price-text {
  color: hsl(178, 100%, 50%);
  font-weight: 600;
  display: inline-block;
  margin-bottom: 5px;
}


.timer-text {
  font-weight: 400;
  display: inline-block;
}

.details-price {

}

.details-price img {
  vertical-align: sub;
  padding-right: 5px;
}

.details-timer {

}

.details-timer img {
  vertical-align: sub;
  padding-right: 5px;
}


/* Creator Part */


.container-creator img {
  margin-right: 15px;
  font-weight: 400;
}

.creator-text {
  padding-top: 5px;
  font-weight: 300;
}

.creator-link {
  color: #FFF;
  text-decoration: none;
}

.creator-link:hover {
  color: hsl(178, 100%, 50%);
}

.container-creator {
  padding-bottom: 10px;
}


.img-avatar {
  width: 35px;
  border: 1px solid #FFF;
  border-radius: 50%;
  float: left;
  margin-right: 15px;
  font-weight: 400;
}
